<nav class="navbar navbar-expand-md navbar-light mb-1" style="background-color: rgb(30, 138, 210);">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/home">
      <i class="fa-solid fa-beer-mug-empty"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
        </li>
        <!--        <li class="nav-item" *ngIf="isLoggedIn()">-->
        <a class="nav-link" routerLinkActive="active" routerLink="beers">Beers</a>
        <!--        </li>-->
      </ul>
      <!--      <a *ngIf="!isLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="login">Login</a>-->
      <!--      <a *ngIf="isLoggedIn()" (click)="logout()">Logout</a>-->
    </div>
  </div>
</nav>
<!--<div class="user">{{ loggedInMessage }}</div>-->
