<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <variable name="MYSQL_HOSTNAME" defaultValue="localhost"/>
    <variable name="MYSQL_PORT" defaultValue="3306"/>
    <variable name="MYSQL_DATABASE" defaultValue="beers-db"/>
    <variable name="MYSQL_ROOT_PASSWORD" defaultValue="root"/>
    <variable name="MYSQL_USE_SSL" defaultValue="true"/>

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microprofile-6.1</feature>
    </featureManager>

    <logging consoleLogLevel="INFO"/>

    <cors domain="/beers/api"
          allowedOrigins="http://localhost:4200"
          allowedMethods="GET, DELETE, POST, PUT, OPTIONS, HEAD"
          allowedHeaders="Referer, Content-Type, Accept, Authorization"
          allowCredentials="true"
          maxAge="3600"/>

    <!-- Basic user registry for EJB/ORB support -->
    <basicRegistry id="basic">
        <user name="admin" password="admin"/>
    </basicRegistry>

    <library id="jdbcLibrary">
        <fileset dir="jdbcLib" includes="*.jar"/>
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/beers">
        <jdbcDriver libraryRef="jdbcLibrary"/>
        <properties serverName="${MYSQL_HOSTNAME}" portNumber="${MYSQL_PORT}" databaseName="${MYSQL_DATABASE}"
                    user="root" password="${MYSQL_ROOT_PASSWORD}"
                    useSSL="${MYSQL_USE_SSL}" allowPublicKeyRetrieval="true" serverTimezone="UTC"/>
    </dataSource>

    <!--    For jms: -->

    <!--    This is the message broker, built-in in OpenLiberty (being WAS JMS),  with one queue. -->
    <messagingEngine>
        <queue id="paymentTransaction"/>
    </messagingEngine>

    <!--    A factory to be used in my code via @Resource, to get my JMS context -->
    <jmsQueueConnectionFactory jndiName="jms/connectionFactory">
        <properties.wasJms remoteServerAddress="localhost:7276:BootstrapBasicMessaging"/>
    </jmsQueueConnectionFactory>

    <!--    The JmsQueue to be used in my code via @Resource, coupled to the queue on wasJms -->
    <jmsQueue id="paymentTransactionJmsQueue" jndiName="jms/paymentTransaction">
        <properties.wasJms queueName="paymentTransaction"/>
    </jmsQueue>

    <!--    My MessageDrivenBean, being SalaryProcessor, that's annotated with @MessageDriven(name = "salaryProcessor") -->
    <jmsActivationSpec id="jee-demos/salaryProcessor"> <!--syntax: <war-name>/<mdb-name> (ENC syntax)-->
        <properties.wasJms destinationRef="paymentTransactionJmsQueue" destinationType="jakarta.jms.Queue"/>
    </jmsActivationSpec>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9081" httpsPort="9444"/>
    <applicationManager autoExpand="true"/>
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>
    <applicationMonitor updateTrigger="polled"/>

    <application id="jee-demos" location="jee-demos.war" type="war">
        <context-root>/jee-demos</context-root>
    </application>

</server>

