<div class="row p-2">
  <div class="col-6">
    <form (ngSubmit)="save(beerForm)" novalidate #beerForm="ngForm"
          (change)="validate(beerName)" class="mb-4">
      <div class="mb-3">
        <label for="inputBeerName" class="form-label">Naam</label>
        <input type="text" id="inputBeerName" name="inputBeerName" class="form-control"
               #beerName="ngModel" [(ngModel)]="inputBeerName"
               required minlength="3"/>
        <label for="inputBeerType" class="form-label">Type</label>
        <select id="inputBeerType" name="inputBeerType" class="form-select" [(ngModel)]="inputBeerType">
          <option>Pils</option>
          <option>Blond</option>
          <option>Dubbel</option>
          <option>Tripel</option>
        </select>
        <label for="inputBeerPrice" class="form-label">Prijs</label>
        <input type="number" id="inputBeerPrice" name="inputBeerPrice" class="form-control"
               placeholder="1.0" step="0.01" min="0" max="10"
               [(ngModel)]="inputBeerPrice"
               required/>
        <button type="submit" [disabled]="beerForm.invalid" class="btn btn-primary mt-2 me-2">Opslaan</button>
        <button type="button" (click)="clear($event)" class="btn btn-secondary mt-2">Wissen</button>
      </div>
    </form>
  </div>
</div>
